.page-con{background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(247,247,250,1) 100%);}

.category-list{width: 100%; flex-wrap: wrap; justify-content: space-between;}
.category-list li{margin-top: 0.65rem;height: 1.56rem;line-height: 1.56rem; background: #fff; width: 42vw;}
.border-grey{border:1px solid rgba(229,229,229,1);}
/* .category-list li div{background-color: #FFFFFF;} */
.category-list li .border-l{display: block;width: 1px;height: 0.8rem;margin-top: 0.38rem;}
/* .category-list li:nth-child(2){
  margin-left: 0.5rem;
} */
input::-webkit-input-placeholder{
  font-size: 13px;
  color: #999;
}
input::placeholder {
  font-size: 13px;
  color: #999;
}
.add-input{
  height: 1.56rem;
  line-height: 1.56rem;
  padding: 0 0.2rem;
}