body{font-weight: 500;}
.page-con{width: 100%;padding-left: 15%;padding-right: 15%;}

.picture{width: 81.5%;margin: 0 auto;}
.picture img{width: 100%;}
.page-con .create-input{border: none; border-bottom:1px solid #262628;width: 100%;height: 1rem;padding: 0.3rem 0;line-height: 1rem;}
.create-btn{width: 100%;height: 1.65rem;padding: 1px;line-height: 1.65rem;text-align: center;background:#262628;background-color: #262628;}
.create-btn button{display: block;width: 100%;height: 100%;background-color: #FFFFFF;}
