body{font-family: Roboto,Heiti, Heiti SC, DroidSans, DroidSansFallback, Arial;} 
.page-title .addIcon{position: absolute;right: 5%;top: 0;}
.page-title span{padding: 0 0.8rem;position: relative;}
.page-title span em{width:1.8rem;height:3px;border-radius:1px;position: absolute;left: 50%;margin-left: -0.9rem;bottom: 2px;z-index: 22;background: #fff;}
.page-title span em.on{background:#262628;}
.organization h1{padding-top: 1.3rem;padding-bottom: 0.65rem;}
.organization ul li{padding-top: 0.65rem;padding-bottom: 0.35rem;}
.organization ul li span i{padding-left: 0.4rem;}

/*搜索框模块*/
.search{width: 100%;height: 1.6rem;background:rgba(229,229,229,0.35);border:1px solid rgba(229,229,229,1);border-radius:0.8rem;margin-top:0.86rem;line-height: 1.6rem;}
.search i{padding-left: 0.65rem;font-weight: 600;}
.search input{border: #000000;padding: 0;margin: 0;height: 1.2rem;line-height: 1.2rem;margin-top: 0.2rem;width: 100%; padding-left: 0.5rem;}
/*组织成员*/
.member{background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(247,247,250,1) 100%);}
.member h1{width: 100%;color: #262628;padding: 1.2rem 0 0.87rem 0;font-weight: 500;}
.member-list{padding: 0 5%;}
.member-list li{height: 3.5rem;width: 100%;padding: 0.55rem 0 0.64rem 0;}
.member-list li .avator{width: 2rem;height: 2rem; overflow: hidden; float: left;margin-right: 0.6rem;margin-top: 0.1rem;}
.member-list li .avator img{width: 100%;}
.member-list li .name{color: #262628;font-weight: 500;}
.member-list li .email{color: #666666;font-weight: 400;}
/*会员信息*/
.avator-box{width: 100%;height: 100%;position: relative;background-color:#000;}
.avator-box .goBack{position: absolute;left: 5%;z-index: 3;top: 0.52rem;opacity:0.68;}
.avator-box .avator-bg{background:linear-gradient(134deg,rgba(177,220,189,1) 0%,rgba(73,185,234,1) 58%,rgba(84,88,166,1) 100%);opacity:0.68;}
.avator-box .avator-bg,.avator-box .avator-bg img{width: 100%;}
.avator-box .avator-piece{position: absolute;top: 50%;margin-top: -2rem;z-index: 44;width: 100%;text-align: center;}
.avator-box .avator-piece .avator-picture{width: 4rem;height: 4rem;border-radius: 2rem;margin: 0 auto;overflow: hidden;background-color: #FFFFFF;}
.avator-box .avator-piece .avator-picture img{width: 100%;}

.member-details{width: 90%;padding-left:5%;padding-right:5%; height: 100%;background-color: #F7F7FA;}
.member-details h1{padding-top: 1.3rem;padding-bottom: 0.65rem;color: #262628;}
.member-details .info-list li{padding-top: 0.65rem;padding-bottom: 0.35rem;}
.member-details .info-list li span i{padding-left: 0.4rem;}
.member-details .btn{width: 100%;background:#262628;padding: 1px;margin-bottom: 5rem;padding-right: 2px;}
.member-details .btn span{width: 100%;height: 100%;display: block;background-color: #FFFFFF;color:#262628;}
/*群组*/
.chat-list .picture{width:1.84rem;height: 1.84rem;}
.chat-list .picture img{padding-right: 0.1rem;width: 0.82rem;display: block;float: left;}
.chat-list .chat-info{width: auto;padding-left: 0.65rem;}
.chat-list .chat-info p{padding-bottom: 0.2rem;}
.chat-list .chat-time p span{margin-top: 0.74rem;}
/*创建群聊*/
.create-group-chat{width: 82%;height: 8.5rem;position: absolute;left: 9%;right: 9%;top: 50%;margin-top: -4.25rem;z-index: 333333;border-radius:4px;overflow: hidden;}
.create-group-chat h1{width: 100%;height: 2.2rem;line-height: 2.2rem;text-align: center; background:#262628;}
.create-group-chat .group-chat-name{width: 85.5%;margin: 0 auto;margin-top: 0.87rem;height: 1.4rem;line-height: 1.4rem;margin-bottom:1.78rem;border-bottom:1px solid #262628;}
.create-group-chat .group-chat-name input{margin: 0;padding: 0;width: 100%;height: 100%;border: 0;}
.create-group-chat .create-btn{width: 100%;height: 2.2rem;line-height: 2.2rem;text-align: center;}
/*邀请成员*/
.member-list .check-box{margin-right: 0.65rem;margin-top: 0.3rem;}
.member-list .check-box input{border-radius: 100%;}
/*聊天*/
.chat-list li .chat-avator{width: 1.8rem;height: 1.8rem;border-radius: 50%;overflow: hidden;margin-top: 0.1rem;}
.chat-list li .chat-avator img{width: 100%;}
/*通知*/
.notice-list{width: 100%;height: auto;}
.notice-list li{width: 100%;padding-top: 0.87rem;padding-bottom: 0.87rem;height: auto;overflow: hidden;}
.notice-list li .notice-avator{width: 1.8rem;height: 1.8rem;overflow: hidden;margin-top: 0.1rem;}
.notice-list li .notice-avator img{height: 100%; width: 100%; border-radius: 50%;}
.notice-list li .notice-info{width: 84%;}
.notice-list li .notice-picture span{width: 17.7%;}
.notice-list li .notice-picture span img{width: 100%;}

.pullrefresh{
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}

.notice-pullrefresh{
  position: absolute;
  top: 1.5rem;
  left: 0;
  padding-top: 0.5rem;
  right: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}
.mui-pull-bottom-pocket,.mui-pull-loading{
  display: none;
}
.mui-table-view:before,.mui-table-view:after{
  background: none;
}
/*创建新文件*/
.create-file{width: 82%;height: 8.5rem;position: absolute;left: 9%;right: 9%;top: 50%;margin-top: -4.25rem;z-index: 333333;border-radius:4px;overflow: hidden;}
.create-file h1{width: 100%;height: 2.2rem;line-height: 2.2rem;text-align: center; background:#262628;}
.create-file .file-name{width: 85.5%;margin: 0 auto;margin-top: 0.87rem;height: 1.4rem;line-height: 1.4rem;margin-bottom:1.78rem;border-bottom:1px solid #262628;}
.create-file .file-name input{margin: 0;padding: 0;width: 100%;height: 100%;border: 0;}
.create-file .create-btn{width: 100%;height: 2.2rem;line-height: 2.2rem;text-align: center;}

.search-box{
  position: fixed;
  width: 100%;
  left: 0;
  background: #fff;
  z-index: 9;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0.5rem;
}
.dept-show{
  display: none;
}
.noread-count{
  /* padding: 0.2rem; */
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  border-radius: 100%;
  background: #409eff;
  color: #fff;
}
.member-info {
  display: flex;
  height: 2rem;
  flex-direction: column;
  justify-content: space-between;
}