body,
p,
div,
span,
i,
em,
input {
  font-family: Roboto;
}

/*搜索框模块*/
.search {
  width: 100%;
  height: 1.6rem;
  background: rgba(229, 229, 229, 0.35);
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 0.8rem;
  margin-top: 0.86rem;
  line-height: 1.6rem;
}

.search i {
  padding-left: 0.65rem;
  font-weight: 600;
}

.search input {
  border: #000000;
  padding: 0;
  margin: 0;
  height: 1.2rem;
  line-height: 1.2rem;
  margin-top: 0.2rem;
  width: 100%;
  padding-left: 0.5rem;
}

/*文件列表*/
.file-list {
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}

/* .file-list li{width: 100%;height: 2.2rem;line-height: 2.2rem;} */
/* .file-list li{width: 100%; padding: 0.5rem 0;} */
.file-list li {
  width: 100%;
}

.file-list input {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.file-list img {
  height: 1rem;
  width: 1rem;
}

.file-content {
  padding: 0.5rem 0;
}

/*创建新文件*/
.create-file {
  width: 82%;
  height: 8.5rem;
  position: absolute;
  left: 9%;
  right: 9%;
  top: 50%;
  margin-top: -4.25rem;
  z-index: 333333;
  border-radius: 4px;
  overflow: hidden;
}

.create-file h1 {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: center;
  background: #262628
}

.create-file .file-name {
  width: 85.5%;
  margin: 0 auto;
  margin-top: 0.87rem;
  height: 1.4rem;
  line-height: 1.4rem;
  margin-bottom: 1.78rem;
  border-bottom: 1px solid #262628;
}

.create-file .file-name input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.create-file .create-btn {
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: center;
}

.upload-input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.search-box {
  position: fixed;
  width: 100%;
  left: 0;
  background: #fff;
  z-index: 9;
  padding: 0 1;
  padding-left: 5%;
  padding-right: 5%;
}

.pullrefresh {
  position: absolute;
  top: 1.5rem;
  padding-top: 0.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}

.mui-pull-bottom-pocket,
.mui-pull-loading {
  display: none;
}

.mui-table-view:before,
.mui-table-view:after {
  background: none;
}