*{
  padding: 0;
  margin: 0;
}
html { font-size: 100%; }
body { color: #333333; font-family: Arial, "Microsoft YaHei"; background-color: #ffffff; }
.content{
  background: #fff;
  margin: 15px auto;
  width: 520px;
  min-height: 600px;
  /* padding: 35px 35px 80px 35px;  */
  padding: 45px 45px 80px 45px;
  box-sizing: border-box;
  /* border: 1px #ccc solid;  */
  line-height: 40px;
  background: url('./../images/bg.png') no-repeat bottom;
  /* box-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
  /* background-size: cover; */
  background-size: 100% 100%;
}
.email-box{
  margin-top: 30px;
}

h1{
  font-size: 25px;
}

.email-content{
  font-size: 23px;
  font-weight: bold;
}

.enter-btn{
  cursor: pointer;
  margin-top: 35px;
  padding: 10px 15px;
  color: #fff;
  width: 180px;
  text-align: center;
  background: #000000;
  /* background: #5458A6 linear-gradient(130deg,rgba(177,220,189,1) 0%,rgba(73,185,234,1) 58%,rgba(84,88,166,1) 100%); */
}

.email-msg{
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}